<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>

        <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/python/python.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/ayu-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/addon/edit/closebrackets.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

</head>
<body>
    <textarea id="editor"cols="150" rows="20"></textarea><br>
    {{ room_name|json_script:"room-name" }}

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#editor').value = '';
            document.querySelector('#editor').value = data.message ;

        };


        document.querySelector('#editor').focus();
        document.querySelector('#editor').onkeyup = function(e) {

                document.querySelector('#editor').click();

        };

        document.querySelector('#editor').onclick = function(e) {
            const messageInputDom = document.querySelector('#editor');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));

        };
    </script>
         <input type="button" onclick="myFunction1()" value="COMPILE">
         <input type="button" onclick="myFunction2()" value="RUN">

         <h3>OUTPUT</h3>
         <textarea  rows="4" cols="50" id="demo"></textarea>


         <script>
         function myFunction1(){

         var text = document.querySelector('#editor').value;
         var formData = {source:text,lang:"PYTHON3"};
         $.ajax({
                  url : "{% url 'compile' %}",
                  type: "POST",
                  data : formData,
                  success: function(data, textStatus, jqXHR){
                    $('#demo').html( JSON.stringify(data['compile_status']));
                    },
                  error: function (jqXHR, textStatus, errorThrown){
                  alert(errorThrown);
                  }
               });

            }

          function myFunction2(){
            var text =  document.querySelector('#editor').value;
            var formData = {source:text,lang:"PYTHON3"};
            $.ajax({
                    url : "{% url 'run' %}",
                    type: "POST",
                    data : formData,
                   success: function(data, textStatus, jqXHR)   {
                     $('#demo').html( JSON.stringify(data['run_status']['output']));
                     },
                   error: function (jqXHR, textStatus, errorThrown){
                   alert(errorThrown);
                   }
                });
               }


      </script>
</body>
</html>